{% extends 'base.html' %}

{% load static %}

{% block css %}{% static 'css/index.css' %}{% endblock css %}

{% block title %} Karamraji Institute {% endblock title %}

{% block content %}
<!-- carousel effect -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

<div class="container mt-8">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img src="{% static 'images/nielit.jpg' %}" class="card-img-top" alt="Something went wrong...!" />
        <div class="card-body">
          <h5 class="card-title">NIELIT (DEOCC) <br> "O" Level / CCC</h5>
          <p class="card-text">
            For Govt. Jobs Karamraji (Best NIELT Center) provides NIELT O
            Level in Sultanpur with discounted fee
          </p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img src="{% static 'images/excel.jpg' %}" class="card-img-top" alt="Something went wrong...!" />
        <div class="card-body">
          <h5 class="card-title">Tally.ERP9 with Advanced Excel</h5>
          <p class="card-text">
            Become Tally.ERP9 expert with Advance Excel. Free Interview &
            Resume Building Training with Placement Assistance
          </p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img src="{% static 'images/webdev.jpg' %}" class="card-img-top" alt="Something went wrong...!" />
        <div class="card-body">
          <h5 class="card-title">Web Designing and Publishing</h5>
          <p class="card-text">
            Learn Web Designing and Publishing as side course and become a
            Frontend master. Be creative and Keep learning.
          </p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container pt-2" id="course-container">
  <div class="container pt-3">
    <h3>Career Oriented Courses</h3>
    <b>Karamraji provides a list of courses for the students like IT Scholars,
      Short Term Courses, Career Oriented Courses and Govt. Approved
      Courses.</b>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h4>'O' Level</h4>
        <p>
          <b>Duration :</b> 12 Months <br />
          <b>Eligibility :</b> 12th Passed
        </p>
        <p>
          <b>A Scheme of AICTE & Department of IT Govt. of India</b> <br />
          DOEACC ‘O’ Level Course is a foundation Course of DOEACC Society in
          the field of Information Technology.
        </p>
      </div>
      <div class="col-3">
        <img class="course-img" src="https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1600"
          alt="working" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-7">
        <h4>CCC (Course on Computer Concepts)</h4>
        <p>
          <b>Duration :</b> 2 Months <br />
          <b>Eligibility :</b> 8th Passed
        </p>
        <p>
          <b>A Scheme of AICTE & Department of IT Govt. of India</b> <br />
          CCC (Course on Computer Concepts) course is launched by NIELIT
          (National Institute of Electronics and Information Technology) and
          they are designed to impart a basic level IT Literacy to the common
          man with more emphasis on practical training. These Courses are
          basically designed for 8th Standard passed students.
        </p>
      </div>
      <div class="col-3">
        <img src="https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="working" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-7">
        <h4>ADCA (Advanced Diploma in Computer Applications)</h4>
        <p>
          <b>Duration :</b> 12 Months <br />
          <b>Eligibility :</b> 12th Passed
        </p>
        <p>
          <b>A Professional Diploma Course for Web/Graphic Designer and Jr.
            Software Engineer</b>
          <br />
          Advance Diploma in Computer Application is a 2 semester course and is
          designed to take students from basics of computer to the Complexities
          of Developing Software Applications. This course make students
          comfortable with office automation, Graphic Designing, and enhance
          programming skill requires in the IT industry. The aim of the course
          is to produce efficient computer programmers within short duration to
          fulfil huge requirement of IT industry.
        </p>
      </div>
      <div class="col-3">
        <img src="https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="working" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-7">
        <h4>DCA (Diploma in Computer Applications)</h4>
        <p>
          <b>Duration :</b> 6 Months <br />
          <b>Eligibility :</b> 10th Passed
        </p>
        <p>
          <b>Diploma Program for Graphic Designer and Web Designer</b> <br />
          Diploma in Computer Application is course to build career as a
          Teacher/Banker/ Designer of information technology.
        </p>
      </div>
      <div class="col-3">
        <img src="https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="working" />
      </div>
    </div>
  </div>
</div>

<hr />
<div class="text-bg-dark p-3">
  <div class="container mt-5 mb-5">
    <h3>Contact Us</h3>
    <hr />
    <div class="row">
      <div class="col-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor" stroke="currentColor">
          <path
            d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
        </svg>
      </div>
      <div class="col">
        <p>
          <b>Address : </b>The Institute is situated 1/2 Km away from the city
          (Sultanpur) on pwd Road near Udhyog office. It is well connected
          through road ,745 PWD Road(In-front of HP Petrol pump) Civil Line-1
          ,Sultanpur
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" stroke="currentColor">
          <path
            d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
        </svg>
      </div>
      <div class="col">
        <p><b>Enquiry Office : </b>+917267045730</p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" stroke="currentColor">
          <path
            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
        </svg>
      </div>
      <div class="col">
        <p><b>Email : </b>kicsit.std@gmail.com</p>
      </div>
    </div>
    <hr />
    <b>Copyrights © Karamraji Institute 2022-2023. All Rights Reserved.</b>
  </div>
</div>

{% endblock content %}