{% extends 'base.html' %}
{% load static %}
{% block title %} Karamraji | About Us {% endblock title %}
{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
{% block content %}

<div class="container mt-5 mb-5">
    <h2> About Us </h2>
    <hr>
    <h3 class="mt-5">VISION</h3>
    <p>To create globally competitive, well qualified professionals for contributing to the fulfillment of the needs of
        the society and to be a resource centre for generation Also, to lay emphasis on industry? Institute interaction,
        to develop education programs and to better the entrepreneurship skills of the students.</p>
    <h3 class="mt-5">MISSION</h3>
    <p>To be the single source for quality assurance in computer education among the non-formal institutes, Our efforts
        are dedicated to impart quality and value based education to raise satisfaction level of all students. Our
        strength is directed to create competent professionals. Our endeavor to strive for excellence in development and
        deployment of computer education.</p>
    <div class="container-sm">
        <img class="img-fluid mt-5 rounded mx-auto" src="{% static 'images/aboutus.jpg' %}"
            alt="404 | Image Not Found" />
    </div>
</div>
{% endblock content %}