{% extends 'base.html' %}

{% block title %} Karamraji | Faculty Profile {% endblock title %}

{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2> Faculty Profile</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, vitae. Ab eveniet sed deserunt neque voluptate
        pariatur, dolorum dicta eius placeat id! Eum, dolorem! Quaerat veniam tempora, error id rerum eum reprehenderit
        repellendus ipsa autem blanditiis magnam alias quae deleniti.</p>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia dolor soluta accusamus debitis distinctio vero
        ipsam ex ab, earum officia culpa, porro repellendus dolorum reprehenderit expedita tenetur odio consectetur
        quisquam quod! Porro quisquam architecto enim ea, consequatur provident nam ab quia alias nemo, fugiat tempore
        harum perferendis reprehenderit et voluptatum quae ipsum corporis libero, incidunt iusto vero. Placeat, labore
        cupiditate.</p>
</div>


{% endblock content %}