:root{
    --card-body: #b6caffbd;
}

.card-img-top{
    aspect-ratio: 2/1;
}

.card-text{
    font-size: 0.9rem;
}
.card{
    transition: box-shadow 300ms;
}

.card:hover{
    box-shadow: 0rem 0rem 0.5rem #000;
}

.card-body{
    transition: background-color 300ms;
    background-color: var(--card-body);
    
}

.card-body:hover{
    background-color: #fff;
}

/* cards */
.mt-8{
    margin-top: 8rem;
}
