:root {
  --card-body: #b6caffbd;
  --card-col-primary: rgb(191, 215, 250);
}
.card-img-top {
  aspect-ratio: 2/1;
}

.card-text {
  font-size: 0.9rem;
}
.card {
  transition: box-shadow 300ms;
}

.card:hover {
  box-shadow: 0rem 0rem 0.5rem #000;
}

.card-body {
  transition: background-color 300ms;
  background-color: var(--card-body);
}

.card-body:hover {
  background-color: #fff;
}

.row {
  gap: 2rem 4rem;
  justify-content: center;
}

.col-md-4 {
  padding: 0;
  margin: 0;
  width: auto;
}

.text-bg-secondary,
.text-bg-primary {
  border-radius: 5px;
}

.col-1 svg {
  aspect-ratio: 1 / 1;
  width: 28px;
}

#course-container {
  background-color: var(--card-col-primary);
  border-radius: 7px;
}
#extra {
  background-color: var(--card-col-primary);
  border-radius: 7px;
}
.course-img {
  max-width: 100%;
}
