:root {
  --bg-navbar: #8eabfd;
  --nav-brand-color: rgb(33, 39, 53);
  --nav-link: #fff;
}

/* custom style-sheet */
.text-bg-secondary,
.text-bg-primary {
  border-radius: 5px;
}

.col-1 svg {
  aspect-ratio: 1 / 1;
  width: 28px;
}
#course-container {
  background-color: rgb(234, 233, 228);
}
