{% extends 'base.html' %}

{% block title %} Karamraji | NIELIT Courses - CCC+ {% endblock title %}
{% load static %}
{% block css %}{% static 'css/nielit-courses.css' %}{% endblock css %}

{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}

{% block content %} 
    <div class="container">
        <h2>CCC+ </h2>
        <div class="row container-fluid">
            <div class="col">
                <h4>Duration : 4 Months</h4>
            </div>
            <div class="col">
                <h4>Eligibility : 10th Passed</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h5>Objective :- </h5>
                <p>
                    The course is a certificate level course, with an aim to equip the workforce entering into / working
                    in government sector with the vital skill set, that is, necessary to cope up with the ever-changing
                    scenario in IT sphere. The course is designed in such a manner, so that, it not only educate an
                    individual with the basic skill set but also enhances the ability of individual to easily grasp the
                    new changes in the dynamic IT field. The course is aimed at skill development in masses, students,
                    employees in professional sectors at middle level. The course may also be considered as an ideal
                    course for re-skilling of an individual and technological advancement. <br> <br> After going through
                    the
                    course, an individual is expected to be equipped with not only the office automation skills but also
                    with the understanding of the latest technologies and e-Gov applications.
                    <br> <br>
                    The module on financial literacy will enable the individuals to understand the various financial
                    services and be aware of the various schemes of Government of India.
                </p>
            </div>
            <div class="col-3 mx-auto">
                <img src="https://images.pexels.com/photos/4164418/pexels-photo-4164418.jpeg?auto=compress&cs=tinysrgb&w=1600"
                    class="img-fluid" alt="404 | Image not found...">
            </div>
            <ul class="syllabus-list">
                <li>
                    <h5>Module 1 - Introduction to Computer & Basic Concepts :</h5>
                    <p>After completing this chapter, you will be able to understand computers, understanding its
                        components and its applications.</p>
                </li>
                <li>
                    <h5>Module 2 - Operating System :</h5>
                    <p>After completing this chapter, you will be able to understand GUI Based operating systems and its
                        components, file management.
                    </p>
                </li>
                <li>
                    <h5>Module 3 - Word Processing :</h5>
                    <p>After completing this chapter, you will be able to acquire skills in Word Processing Basics.</p>
                </li>
                <li>
                    <h5>Module 4 - Spreadsheet :</h5>
                    <p>After completing this chapter, you will be able to acquire skills in creating spreadsheet and its
                        features.</p>
                </li>
                <li>
                    <h5>Module 5 - Presentation :</h5>
                    <p>After completing this chapter, you will be able to acquire skills in creating and developing a
                        presentation and its features</p>
                </li>
                <li>
                    <h5>Module 6 - Database Management System :</h5>
                    <p>After completing this chapter, you will be able to acquire skills in creating and developing
                        forms, queries and reports.</p>
                </li>
                <li>
                    <h5>Module 7 - Cyber Security :</h5>
                    <p>After completing this chapter student will be able to know about security features &
                        vulnerabilities and will be able to secure its network from attacks.</p>
                </li>
                <li>
                    <h5>Module 8 - PC Maintenance, Security and Troubleshooting :</h5>
                    <p>This unit will introduce about maintenance and troubleshooting of PC. This unit will introduce
                        some maintenance and some troubleshooting techniques to use if there is a problem.</p>
                </li>
                <li>
                    <h5>Module 9 - Networking & Troubleshooting :</h5>
                    <p>After completing this chapter, you will be able to understand world of internet, its advantage
                        and understand the Internet as a powerful tool.</p>
                </li>
                <li>
                    <h5>Module 10 - Latest Trends in IECT & e-Governance :</h5>
                    <p></p>
                </li>
            </ul>
        </div>
    </div>
</body>
{% endblock content %}