{% extends 'base.html' %}

{% block title %} Karamraji | Short Term Courses {% endblock title %}

{% load static %}

{% block css %}{% static 'css/st-courses.css' %}{% endblock css %}

{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}

{% block content %} 

    <div class="container">
        <h3>DCA - Diploma in Computer Application</h3>
        <div class="row container-fluid">
            <div class="col"><b>Duration :</b> 6 Months</div>
            <div class="col"><b>Eligiblity :</b> 10th Passed</div>
        </div>
        <div class="row container-fluid">
            <div class="col-7"><b>Diploma Program for Graphic Designer and Web Designer.</b>
                <p>Diploma in Computer Application is course to build career as a Teacher/Banker/ Designer of
                    information technology.</p>
            </div>
            <div class="col-3 mx-auto">
                <img src="https://images.pexels.com/photos/4164418/pexels-photo-4164418.jpeg?auto=compress&cs=tinysrgb&w=1600"
                    class="img-fluid" alt="404 | Image not found...">
            </div>
        </div>
        <h4>Syllabus</h4>
        <ul class="syllabus-list">
            <li>Computer Fundamentals</li>
            <li>Operating System and Troubleshooting</li>
            <li>Microsoft Office with Access and Outlook</li>
            <li>Internet Technology and Security</li>
            <li>Website Designing</li>
            <li>Programming Logic & Techniques Using C</li>
            <li>Communication and Presentation Skills</li>
        </ul>
        <h4>Benefits</h4>
        <ul class="syllabus-list">
            <li>Fulfils the mandatory qualification in computer for recruitment in banks.</li>
            <li>Helps in clearing easily, the written test conducted by IBPS for recruitment of clerks/officers in
                Banks.</li>
            <li>About 40/50 questions (15% of the total marks) are based on computer.</li>
            <li>Help in Working efficiently offer (selection) in banks recruitments.</li>
        </ul>
    </div>
{% endblock content %}