{% extends 'base.html' %}

{% block title %} Karamraji | ICAI Courses {% endblock title %}

{% load static %}
{% block css %}{% static 'css/icai-courses.css' %}{% endblock css %}

{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}

{% block content %} 

<h2> ICAI Courses </h2> 
    <div class="container">
        <h3>Tally</h3>
        <div class="row container-fluid">
            <div class="col"><b>Duration :</b> 3 months</div>
            <div class="col"><b>Eligiblity :</b> 12th passed</div>
        </div>
        <div class="row container-fluid">

            <div class="col-7">
                <p>Karamraji Institute brings to you a comprehensive course on computerized accounting. A short-term,
                    value-for-money course, it aims to equip you with all the skills required to make you proficient in
                    the usage of accounting software. The course is ideal for commerce graduates, secretaries, and
                    accounts who wish to peruse a successful career or upgrade their skills with the latest
                    technologies. The objective of the course is to acquaint students with the accounting concept, tools
                    and techniques influencing business organization. At the end of the course student should be able to
                    use accounting and business terminology, explain the objective of financial reporting and related
                    key accounting assumptions and principles. Tally.ERP9 is one of the best accounting software in
                    India. Many accounting professionals from other countries also use it. It is a feature rich
                    software. Tally 7.2 and Tally 9 are the older version of this software. Tally ERP 9 is the latest
                    version of this software. It has excellent features to allocate all types of accounting entries very
                    easily. The use of the software is not limited for accounting purpose only. You can also manage
                    inventory with the software, because it has excellent features for inventory management. This
                    software also allows to manage taxation and payroll entries very easily.</p>
            </div>
            <div class="col-3 mx-auto">
                <img src="https://images.pexels.com/photos/590020/pexels-photo-590020.jpeg?auto=compress&cs=tinysrgb&w=1600"
                    class="img-fluid" alt="404 | Image not found...">
            </div>
        </div>
        <h4>Syllabus :</h4>
        <ul>
            <li>Basics of Accounting</li>
            <li>Fundamentals of Tally.ERP9</li>
            <li>Getting Functional with Tally.ERP9</li>
            <li>Creation / Setting up of Company</li>
            <li>Creating Accounting Masters</li>
            <li>Creating Inventory Masters</li>
            <li>Voucher Entry</li>
            <li>Inventory Vouchers</li>
            <li>Invoicing</li>
            <li>Advance Accounting</li>
            <li>Cost Centres & Cost Category</li>
            <li>Voucher Class & Cost Centre Class</li>
            <li>Multiple Currencies</li>
            <li>Interest Calculation</li>
            <li>Budgets & Controls</li>
            <li>Scenario Management</li>
            <li>Advance Inventory</li>
            <li>Order Processing & Reorder Levels</li>
            <li>Shortcut keys list of function keys</li>
        </ul>
        <hr>
        <h5>Assignment :</h5>
        <p> Self-Assessment by Faculty</p>
        <b>Exit Profile : Accountant, Account Assistant, Book Keeper</b>
    </div>
{% endblock content %}