{% extends 'base.html' %}
{% block title %} Karamraji | Gallery {% endblock title %}
{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
{% load static %}
{% block css %}{% static 'css/gallrey.css' %}{% endblock css %}

{% block content %}

<div class="container-sm">
    <h1 class="gallery-h1">Karamraji Gallery</h1>
    <div class="gallery-container">
        {% for img in image %}
            <div class="img-container"><img src="media/{{ img.image }}" alt="" id="img-container"></div>
        {% endfor %}
    </div>
</div>

{% endblock content %}